/* General css for the page */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

html {
    background-color: rgb(12, 81, 138);
    scroll-behavior: smooth;
}
  
h1 {
    font-family: 'Titan One', 'Times New Roman', Times, serif;
    font-weight: 700;
}
  
a {
    color: black;
}
  
p {
    color: #fffeef;
    font-size: 20px;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.body {
    background-color: rgb(12, 81, 138);
}

/* Container for the header/nav bar */

.headerContainer {
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    background-color:rgba(30, 113, 236, 0);
    color: white;
}

.logoImage {
    height: 40px;
    margin-left: 24px;
    border: 3px solid #1F305E;
    border-radius: 50%;
}

.headerLinks {
    display: flex;
    align-items: center;
    text-align: center;
    list-style: none;
    margin-left: auto;
    margin-right: 12px;
}

.headerLinks a {
    text-decoration: none;
    display: block;
    font-size: 20px;
    padding: 16px;
}

.headerLinks a:visited {
    text-decoration: none;
}
  
.headerLinks a:hover {
    background-color: rgb(67, 101, 214);
    cursor: pointer;
    color: white;
    text-shadow: 2px 2px 1px black;
    border-radius: 50px;
}

/* Container for the title section */

.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid black 2px;
    background-image: url(images/spaceVector.jpg);
    background-position: center;
    background-size: cover;
}

.titleContainerBody {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 128px 72px 72px;
    gap: 24px;
    padding: 32px;
    border: 3px solid #1F305E;
    border-radius: 200px;
    box-shadow: 2px 2px 20px 2px;
    background: rgba(61, 148, 199, 0.562);
}

.titleContainerText {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: flex-start;
    gap: 20px;
    padding-left: 32px;
    max-width: 360px;
}

.titleContainerText h1 {
    color: #e99c44;
    text-shadow: -.5px 0 black, 0 .5px black, 1px 1px black, 0 -.5px black;
}

.titleContainerText p {
    color:rgb(13, 16, 19)
}

.teaShopPic{
    object-fit: cover;
    flex: 1 1 auto;
    max-width: 300px;
    border: 12px double #F08000;
    border-radius: 50%;
}

/* Container for the about me section */
  
.aboutContainer {
    display: flex;
    flex-direction: row;
    padding: 128px 128px 96px;
    background-color: #8CC7A1;
    background: repeating-linear-gradient(
        45deg,
        #8CC7A1,
        #8CC7A1 60px,
        #5AAF78 60px,
        #5AAF78 120px
    );
    border-bottom: solid black 2px;
    font-size: 24px;
    line-height: 150%;
    font-style: italic;
}

.aboutContainerBody{
    display: flex;
    flex-direction: column;
    width: 500px;
    padding-right: 100px;
}

.aboutTitle {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #97EAD2;
    text-shadow: -1px 0 black, 0 1px black, 2px 2px black, 0 -1px black;
    padding-bottom: 20px;
}

.aboutText {
    text-align: end;
    font-style: normal;
    font-weight: 600;
    color: #74226C;
    background-color: rgb(129, 110, 148, .75);
    border: 3px solid #4B2142;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 20px;
}

.aboutGif {
    width: 350px;
    height: 300px;
}

/* Container for my projects */

.projectsContainer {
    justify-content: center;
    background-image: url(images/redSunset.jpg);
    background-position: center;
    background-size: cover;
    border-bottom: solid black 2px;
}

.projectsContainerHeader {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding: 0px 24px 96px 24px;
}

.projectsHeader {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    flex-wrap: wrap;
    width: 500px;
    font-size: 22px;
    font-weight: bold;
}

.projects {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.projectsTile {

}

.projectImage {
    height: 300px;
    width: 300px;
    object-fit: cover;
    flex: 1 1 auto;
    border: 12px double black;
    border-radius: 50%;
}

.projectTitle {
    font-size: 30px;
}

.projectDesc {
    font-size: 22px;
    width: 200px;
    align-items: center;
}

.fbProjectcontainer {

}

/* Container for my contact information */

.contactContainer{
    color: rgb(247, 246, 246);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align: center;
}